<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
              <binding name="BasicHttpBinding_IService">
              </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
          <endpoint address="https://localhost:44321/Service.svc" binding="basicHttpsBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference1.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>